@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Francois+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,900;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: "Cormorant", serif;
  box-sizing: border-box;
  list-style: none;
}

body {
  background: #faf0d9;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

@keyframes appear {
  0% {
    opacity: 0;
    top: 0;
    left: 1rem;
  }
  80% {
    opacity: 1;
    top: 0;
    left: 1rem;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(0.5rem);
  }
}
@keyframes move {
  0% {
    opacity: 0;
    top: 0;
    left: 10rem;
  }
  80% {
    opacity: 0;
    top: 0;
    left: 10rem;
    transform: translateX(200%);
  }
  100% {
    opacity: 1;
    transform: translateX(25%);
  }
}
.main-navbar {
  background: whitesmoke;
  position: fixed;
  z-index: 1000;
  width: 100vw;
  height: 10vh;
  display: flex;
}
.main-navbar-list {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
}
.main-navbar-list-item {
  width: -moz-fit-content;
  width: fit-content;
  align-self: center;
  margin-right: 1.5rem;
}
.main-navbar-list-item a {
  color: rgb(51, 51, 51);
  font-family: "Cormorant", serif;
  font-size: 1.2rem;
  transition: all 500ms ease;
}
.main-navbar-list-item a:hover {
  color: #9ac08e;
  cursor: pointer;
  transition: all 500ms;
}

.navbar-fiores-logo {
  top: 0.8rem;
  left: 1rem;
  position: absolute;
}
.navbar-fiores-logo img {
  width: 3.5vw;
  align-self: center;
  animation: move forwards ease;
  animation-duration: 3s;
  animation-delay: 0;
}
.navbar-fiores-logo img:nth-child(2) {
  width: 10vw;
  align-self: center;
  animation: appear forwards;
  animation-duration: 3s;
  animation-delay: 0;
}

@media screen and (max-width: 1200px) {
  .main-navbar {
    position: absolute;
  }
  .main-navbar-list-item a {
    font-size: 1.4rem;
  }
  .navbar-fiores-logo {
    left: 10rem;
    top: 2.3rem;
    transform: translateX(-25%);
    scale: 3;
  }
  .navbar-fiores-logo img {
    width: 1.5vw;
    animation: move forwards ease;
    animation-duration: 3s;
    animation-delay: 0;
  }
  .navbar-fiores-logo img:nth-child(2) {
    width: 4vw;
    align-self: center;
    animation: appear forwards;
    animation-duration: 3s;
    animation-delay: 0;
  }
}
@media screen and (max-width: 1025px) {
  .main-navbar {
    position: absolute;
    height: 8vh;
  }
  .main-navbar-list-item a {
    font-size: 1rem;
  }
  .navbar-fiores-logo {
    left: 5rem;
    top: 1.5rem;
    scale: 2;
  }
  .navbar-fiores-logo img {
    width: 1.5vw;
    animation: none;
  }
  .navbar-fiores-logo img:nth-child(2) {
    width: 4vw;
    align-self: center;
    animation: none;
  }
}
@media screen and (max-width: 768px) {
  .main-navbar-list {
    visibility: hidden;
  }
  .navbar-fiores-logo {
    left: 50%;
    top: 35%;
    transform: translateX(-25%);
    scale: 3;
  }
  .navbar-fiores-logo img {
    width: 3.5vw;
    align-self: center;
    animation: none;
  }
  .navbar-fiores-logo img:nth-child(2) {
    width: 10vw;
    align-self: center;
    animation: none;
  }
}
@media screen and (max-width: 321px) {
  .main-navbar-list {
    visibility: hidden;
  }
  .navbar-fiores-logo {
    left: 50%;
    top: 35%;
    transform: translateX(-25%);
    scale: 3;
  }
  .navbar-fiores-logo img {
    width: 3.5vw;
    align-self: center;
    animation: none;
  }
  .navbar-fiores-logo img:nth-child(2) {
    width: 10vw;
    align-self: center;
    animation: none;
  }
}
.title {
  background-position: center;
  background-size: cover;
  background: #faf0d9;
  height: 100vh;
  width: 100vw;
}
.title .title-carrousel-list {
  width: 100vw;
  height: 90vh;
  top: 10vh;
  position: relative;
  display: flex;
}
.title .title-carrousel-list-item {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
}
.title .title-carrousel-list-item[data-active] {
  opacity: 1;
  transition-delay: 0ms;
  z-index: 1;
}
.title .title-carrousel-list-item img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-position: center;
     object-position: center;
}

.title-carrousel-list-direction {
  background: transparent;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  font-size: 5rem;
  z-index: 2;
  height: 100vh;
  width: 15vw;
  transition: color 200ms ease, box-shadow 200ms ease;
}
.title-carrousel-list-direction.arrow-right {
  right: 1rem;
}
.title-carrousel-list-direction.arrow-left {
  left: 1rem;
}
.title-carrousel-list-direction:hover {
  cursor: pointer;
  color: rgb(18, 64, 8);
  outline: none;
}

.slide-buttons {
  position: absolute;
  width: -moz-fit-content;
  width: fit-content;
  height: 2rem;
  background: rgba(255, 255, 255, 0.5);
  border: 1px dotted white;
  bottom: 2rem;
  left: 50%;
  z-index: 5;
  transform: translateX(-50%);
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  gap: 10px;
}
.slide-buttons-item {
  background: rgba(255, 255, 255, 0.418);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 1px solid #E7E9EA;
  transition: background-color linear 100ms;
  outline-style: none;
}
.slide-buttons-item:hover {
  background: #E7E9EA;
  cursor: pointer;
}
.slide-buttons-item[data-active-btn] {
  background: white;
}

.hero-banner {
  width: 100vw;
  height: 100vh;
}

.controller-banner {
  display: flex;
  background-color: transparent;
}
.controller-banner .play-button {
  width: 2rem;
  height: 2rem;
  background: rgba(255, 255, 255, 0.5);
  color: rgb(87, 200, 26);
  border-radius: 5px;
  border: 1px dotted white;
  position: absolute;
  left: 44%;
  bottom: 2rem;
  z-index: 15;
}
.controller-banner .play-button:hover {
  cursor: pointer;
}

.about {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: whitesmoke;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-banner {
  width: 55%;
  height: 90%;
  display: flex;
  flex-direction: column;
  background: inherit;
  background: rgba(255, 255, 255, 0.521);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.8px);
  -webkit-backdrop-filter: blur(6.8px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.about-banner .about-text-container {
  width: 100%;
  height: 75%;
  font-size: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: justify;
  font-weight: 300;
  margin-top: 3rem;
  letter-spacing: -1px;
  color: #333333;
}
.about-banner .about-title-container {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.about-banner .about-title-container h2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-left: 2rem;
  font-size: 5rem;
  font-weight: 600;
  color: #333333;
  text-align: center;
}
.about-banner .about-title-container .about-heading-container {
  display: flex;
  justify-content: space-evenly;
  border-radius: 24px;
}
.about-banner .about-title-container .about-heading-container .about-article-heading {
  border-radius: 5px;
}
.about-banner .about-title-container .about-heading-container a {
  width: 25%;
  text-align: center;
  border-bottom: 1px solid black;
  font-size: 2rem;
}
.about-banner .about-title-container .about-heading-container .about-article-heading:hover {
  transition: all 200ms ease;
  cursor: pointer;
  border-bottom: 3px solid black;
  color: #427250;
}

@media only screen and (max-width: 1200px) {
  .about {
    height: 100vh;
    margin-top: 0;
  }
  .about-banner {
    height: 80%;
    width: 60%;
  }
  .about-banner .about-text-container {
    font-size: 1.5rem;
  }
  .about-banner .about-title-container .about-heading-container .about-article-heading {
    font-size: 1rem;
  }
  .about-banner .about-title-container h2 {
    font-size: 2.5rem;
    text-align: center;
  }
}
@media only screen and (max-width: 950px) {
  .about {
    height: 80vh;
    margin-top: 0;
  }
  .about-banner {
    height: 60%;
    width: 60%;
  }
  .about-banner .about-text-container {
    font-size: 1.5rem;
  }
  .about-banner .about-title-container .about-heading-container .about-article-heading {
    font-size: 1rem;
  }
  .about-banner .about-title-container h2 {
    font-size: 2.5rem;
    text-align: center;
  }
}
@media only screen and (max-width: 820px) {
  .about {
    height: 70vh;
    margin-top: 0;
  }
  .about-banner {
    height: 70%;
    width: 60%;
  }
  .about-banner .about-text-container {
    font-size: 1.5rem;
  }
  .about-banner .about-title-container .about-heading-container .about-article-heading {
    font-size: 1rem;
  }
  .about-banner .about-title-container h2 {
    font-size: 2.5rem;
    text-align: center;
  }
}
@media only screen and (max-width: 770px) {
  .about {
    height: 70vh;
    margin-top: 0;
  }
  .about-banner {
    height: 70%;
    width: 60%;
  }
  .about-banner .about-text-container {
    font-size: 1.3rem;
  }
  .about-banner .about-title-container .about-heading-container .about-article-heading {
    font-size: 1rem;
  }
  .about-banner .about-title-container h2 {
    font-size: 2.5rem;
    text-align: center;
  }
}
@media only screen and (max-width: 650px) {
  .about {
    height: 70vh;
    margin-top: 0;
  }
  .about-banner {
    height: -moz-fit-content;
    height: fit-content;
    width: 80%;
  }
  .about-banner .about-text-container {
    font-size: 1.2rem;
  }
  .about-banner .about-title-container .about-heading-container .about-article-heading {
    font-size: 1rem;
  }
  .about-banner .about-title-container h2 {
    font-size: 2rem;
    text-align: center;
  }
}
@media only screen and (max-width: 470px) {
  .about {
    height: 80vh;
    margin-top: 0;
  }
  .about-banner {
    height: 65%;
    width: 100%;
  }
  .about-banner .about-text-container {
    font-size: 1em;
  }
  .about-banner .about-title-container .about-heading-container .about-article-heading {
    font-size: 1.2em;
  }
  .about-banner .about-title-container h2 {
    font-size: 2rem;
    text-align: center;
  }
}
@media only screen and (max-width: 375px) {
  .about {
    height: 70vh;
    margin-top: 0;
  }
  .about-banner {
    height: 70%;
    width: 100%;
  }
  .about-banner .about-text-container {
    font-size: 0.8rem;
  }
  .about-banner .about-title-container .about-heading-container .about-article-heading {
    font-size: 0.8rem;
  }
  .about-banner .about-title-container h2 {
    font-size: 1.5rem;
    text-align: center;
  }
}
.organization {
  width: 100vw;
  height: 100vh;
  background: whitesmoke;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.organization .grid-area {
  display: grid;
  grid-template-columns: auto auto auto;
  padding-left: 1rem;
  gap: 25px;
}
.organization .job-box {
  font-family: "Roboto Slab", serif;
}
.organization .job-box p {
  line-height: 2;
  color: green;
}
.organization .job-box h4 {
  color: green;
}
.organization .job-box a {
  text-decoration: none;
  color: green;
}
.organization .job-box a:hover {
  color: rgb(27, 107, 168);
  transition: all 500ms;
}
.organization h3 {
  text-align: center;
  font-family: "Roboto Slab", serif;
  color: green;
  font-size: 4rem;
  margin-top: 2.5rem;
}

.member-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 80vh;
}
.member-banner-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  gap: 1.5rem;
}
.member-banner-card-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 60vh;
  width: 20vw;
  border-radius: 24px;
  background: rgb(4, 77, 4);
}
.member-banner-card-item img {
  border-radius: 5px;
  margin-top: 1rem;
  -o-object-fit: contain;
     object-fit: contain;
  width: 90%;
  margin-bottom: 1rem;
}
.member-banner-card-item h4 {
  font-family: "Times New Roman", Times, serif;
  color: #faf0d9;
  margin-top: 1rem;
  padding-bottom: 1rem;
  width: 90%;
  text-align: center;
  border: 0 1px 0 1px solid #faf0d9;
}
.member-banner-card-item p {
  font-family: "Times New Roman", Times, serif;
  color: #faf0d9;
  width: 80%;
  text-align: center;
}
.member-banner-card-item a {
  margin-top: 1rem;
  color: #faf0d9;
}

@media only screen and (max-width: 1200px) {
  .organization .member-banner-card-item {
    height: 50vh;
    padding-bottom: 3rem;
    width: 25vw;
  }
  .organization .member-banner {
    height: 65vh;
  }
}
.footer {
  height: 90vh;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background: whitesmoke;
  scroll-snap-align: start;
}
.footer input {
  border-radius: 5px;
}
.footer input::-moz-placeholder {
  font-size: 1rem;
}
.footer input::placeholder {
  font-size: 1rem;
}
.footer-location {
  margin-top: 2rem;
  margin-left: 5rem;
  width: 50%;
  height: 80%;
  display: flex;
  flex-direction: column;
}
.footer-location-logo {
  width: 100%;
  align-self: center;
  margin-bottom: 2rem;
}
.footer-location h3 {
  text-align: center;
  color: #062a1a;
}
.footer-location-map {
  height: 35%;
  width: 80%;
  border: solid #c0a76a 5px;
  border-radius: 5px;
  align-self: center;
}
.footer-contact {
  margin-top: 2rem;
  margin-right: 5rem;
  width: 50%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
}
.footer-contact p {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-family: "Roboto Slab", serif;
  color: #333333;
}
.footer-contact .contact-us-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5rem;
}
.footer-contact .contact-us-form #contact-us-name, .footer-contact .contact-us-form #contact-us-email, .footer-contact .contact-us-form #contact-us-subject {
  margin-bottom: 0.9rem;
  height: 3rem;
  font-size: 1.5rem;
  border-radius: 14px;
}
.footer-contact .contact-us-form #contact-us-message {
  width: 30vw;
  height: 8rem;
  border-radius: 14px;
}
.footer-contact .contact-us-form .contact-us-button {
  width: 8rem;
  height: 2.5rem;
  background-color: #062a1a;
  color: #c0a76a;
  border-radius: 14px;
}

@media only screen and (max-width: 321px) {
  .footer {
    height: 90vh;
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background: whitesmoke;
    scroll-snap-align: start;
  }
  .footer input {
    border-radius: 5px;
  }
  .footer input::-moz-placeholder {
    font-size: 1rem;
  }
  .footer input::placeholder {
    font-size: 1rem;
  }
  .footer-location {
    display: none;
    margin-top: 2rem;
    margin-left: 5rem;
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
  }
  .footer-location-logo {
    width: 100%;
    align-self: center;
    margin-bottom: 2rem;
  }
  .footer-location h3 {
    text-align: center;
    color: #062a1a;
  }
  .footer-location-map {
    height: 35%;
    width: 80%;
    border: solid #c0a76a 5px;
    border-radius: 5px;
    align-self: center;
  }
  .footer-contact {
    margin-top: 2rem;
    margin-right: 5rem;
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
  }
  .footer-contact p {
    font-size: 2rem;
    margin-bottom: 2rem;
    font-family: "Roboto Slab", serif;
    color: #333333;
  }
  .footer-contact .contact-us-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5rem;
  }
  .footer-contact .contact-us-form #contact-us-name, .footer-contact .contact-us-form #contact-us-email, .footer-contact .contact-us-form #contact-us-subject {
    margin-bottom: 0.9rem;
    height: 3rem;
    font-size: 1.5rem;
    border-radius: 14px;
  }
  .footer-contact .contact-us-form #contact-us-message {
    width: 30vw;
    height: 8rem;
    border-radius: 14px;
  }
  .footer-contact .contact-us-form .contact-us-button {
    width: 8rem;
    height: 2.5rem;
    background-color: #062a1a;
    color: #c0a76a;
    border-radius: 14px;
  }
}
.references {
  width: 100vw;
  height: 30vh;
  background: rgb(24, 89, 32);
  display: flex;
  justify-content: center;
  align-items: center;
}
.references-banner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.references-banner-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
}
.references-banner-list :nth-child(1) img {
  width: 7rem;
}
.references-banner-list :nth-child(2) img {
  width: 7.5rem;
}
.references-banner-list-item {
  width: 20vw;
  height: 25vh;
  display: flex;
  justify-content: center;
}
.references-banner-list-item img {
  width: 9rem;
  -o-object-fit: contain;
     object-fit: contain;
}

@media only screen and (max-width: 920px) {
  .references-banner-list {
    width: 100vw;
    height: 100%;
    gap: 45px;
  }
  .references-banner-list :nth-child(1) img {
    width: 8rem;
  }
  .references-banner-list :nth-child(2) img {
    width: 9rem;
  }
  .references-banner-list :nth-child(3) img {
    width: 11rem;
  }
  .references-banner-list-item {
    width: 20vw;
    display: flex;
    justify-content: center;
  }
  .references-banner-list-item img {
    width: 9rem;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
@media only screen and (max-width: 540px) {
  .references-banner-list {
    width: 100vw;
    height: 100%;
    gap: 45px;
  }
  .references-banner-list :nth-child(1) img {
    width: 5rem;
  }
  .references-banner-list :nth-child(2) img {
    width: 6rem;
  }
  .references-banner-list :nth-child(3) img {
    width: 7rem;
  }
  .references-banner-list-item {
    width: 20vw;
    display: flex;
    justify-content: center;
  }
  .references-banner-list-item img {
    width: 9rem;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
@media only screen and (max-width: 450px) {
  .references {
    height: 25vh;
  }
  .references-banner-list {
    width: 100vw;
    height: 100%;
    gap: 30px;
  }
  .references-banner-list :nth-child(1) img {
    width: 4.5rem;
  }
  .references-banner-list :nth-child(2) img {
    width: 5.5rem;
  }
  .references-banner-list :nth-child(3) img {
    width: 6.5rem;
  }
  .references-banner-list-item {
    width: 20vw;
    display: flex;
    justify-content: center;
  }
  .references-banner-list-item img {
    width: 9rem;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
@media only screen and (max-width: 380px) {
  .references {
    height: 20vh;
    background: rgb(231, 240, 232);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .references-banner-list {
    height: 100%;
    gap: 15px;
  }
  .references-banner-list :nth-child(1) img {
    width: 4rem;
  }
  .references-banner-list :nth-child(2) img {
    width: 4.5rem;
  }
  .references-banner-list :nth-child(3) img {
    width: 5rem;
  }
  .references-banner-list-item {
    width: 25vw;
    display: flex;
    justify-content: center;
  }
  .references-banner-list-item img {
    width: 9rem;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
.work-groups {
  width: 100vw;
  height: 100vh;
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.work-groups-banner {
  padding-top: 2rem;
  width: 12vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.work-groups-banner-list {
  height: 100%;
}
.work-groups-banner-list-item {
  width: 8vw;
  min-width: 30px;
  position: relative;
  bottom: 1rem;
  transition: all ease-out 500ms;
}
.work-groups-banner-list-item img {
  width: 100%;
}
.work-groups-banner-list-item:hover {
  cursor: pointer;
  width: 10vw;
  transition: all ease-out 500ms;
}/*# sourceMappingURL=main.css.map */