.about {
    
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    // background: url(../imgs/logo.png)
    // background: rgba(0, 128, 0, 0.761);
    background: $main-theme;
    background-size: cover;
    background-position: center;


    &-banner {
        max-width: 1024px;
        width: 100%;
        height: 90%;
        display: flex;
        flex-direction: column;
        margin-top: $primary-margin;
        background: inherit;
        background: rgba(255, 255, 255, 0.521);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(6.8px);
        -webkit-backdrop-filter: blur(6.8px);
        border: 1px solid rgba(255, 255, 255, 0.3);

        .about-text-container {
            width: 100%;
            height: 75%;
            font-size: 2rem;
            padding-left: 2rem;
            padding-right: 2rem;
            text-align: justify;
            font-weight: 300;
            margin-top: 3rem;
            letter-spacing: -1px;

        }

        .about-title-container {
            width: 100%;
            height: 25%;
            display: flex;
            justify-content: space-between;
            flex-direction: column;

            h2 {
                margin-top: 2rem;
                margin-bottom: 2rem;
                padding-left: 2rem;
                font-size: 5rem;
                font-weight: 600;
                
            }

            .about-heading-container {
                display: flex;
                justify-content: space-evenly;

                a {
                    width: calc(100% / 4);
                    text-align: center;
                    border-bottom: 1px solid black;
                    font-size: 2rem;

                }

                a:hover {
                    transition: all 200ms ease;
                    cursor: pointer;
                    border-bottom: 3px solid black;
                }
            }
        }
    }
}