$main-theme: #062a1a;
$main-theme-white:  #E7E9EA;
$main-text-color: #c0a76a;
$section-color: #F1DBBF;
$bg-color1: linear-gradient(90deg, rgb(245, 229, 179), rgb(226, 234, 226));
$primary-margin: 2rem;
$second-font: 'Roboto Slab', serif;
$main-font: 'Open Sans', sans-serif;
$font-three: 'Francois One', sans-serif;
$font-four: 'Poppins', sans-serif;
$font-five: 'Montserrat', sans-serif;
$font-six: 'Cormorant', serif;
$font-seven: 'Ariel',sans-serif;

$theme-new: #faf0d9;
$green-one: rgb(46,139,87);
$green-second: #158a00;
$green-third: #0b4900;


* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: $font-seven;
    box-sizing: border-box;
    list-style: none;
}

// section {
//     scroll-snap-align: start;
// }

body {
    background: $section-color;
    // overflow-x: hidden;
    
}

html {
    scroll-behavior: smooth;
}


// .scroll-snap {
//     scroll-snap-type: y mandatory;
//     overflow-y: scroll;

//     section, footer {
//     scroll-snap-align: start;
//     height: 100vh;    
//     }
// }


