.footer {
    height: 90vh;
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    gap: 50px;
    background: $theme-new;
    scroll-snap-align: start; 


    input{
        border-radius: 5px;
    }

    &-location {
        margin-top: 2rem;
        margin-left: 5rem;
        width: 50%;
        height: 80%;
        display: flex;
        flex-direction: column;

        &-logo{
            width: 100%;
            align-self: center;
            margin-bottom: 2rem;
            
        }

        h3 {
            text-align: center;
            color: $main-theme;
        }

        &-map {
            height: 35%;
            width: 80%;
            border: solid $main-text-color 5px;
            border-radius: 5px;
            align-self: center;

        }
    }


    &-contact {
        margin-top: 2rem;
        margin-right: 5rem;
        width: 50%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: baseline;


        p {
            font-size: 2rem;
            margin-bottom: 2rem;
            font-family: 'Roboto Slab', serif;;
        }





        .contact-us-form {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap:1rem;


            #contact-us-name, #contact-us-email, #contact-us-subject {
                margin-bottom: 0.9rem;
                height: 3rem;
                font-size: 1.5rem;
                border-radius: 14px;
            }

            #contact-us-message {
                width: 30vw;
                height: 8rem;
                border-radius: 14px;

            }

            .contact-us-button {
                width: 8rem;
                height: 2.5rem;
                background-color: $main-theme;
                color: $main-text-color;
                border-radius: 14px;
            }
        }
    }
}