.organization {
    scroll-snap-align: start; 

    width: 100vw;
    height: 100vh;
    background: $main-theme;
    
    .grid-area {
        display: grid;
        grid-template-columns: auto auto auto;
        padding-left: 1rem;
        gap: 25px;
    }
    
    .job-box {
        font-family: 'Roboto Slab', serif;
        
        p {
        line-height: 2;
        color: black;
        }
        

        h4 {
        color: $main-text-color; 
        color: black;   
        }

        a {
            text-decoration: none;
            color: black;
            
            &:hover{
            color: rgb(27, 107, 168); 
            transition: all 500ms;
        }
        }
    }



    h3{
        font-size: 2rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 1rem;
        font-family: 'Roboto Slab', serif;
        color: $main-text-color;
    }

    
}